<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuenta</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/styles/styles.css">

</head>
<body class="bg-savings">
    <div class="d-lg-flex" id="app">

        <template v-if="isLoaded == false">
            <main class="min-vh-100 min-vw-100 m-0 bg-azul load d-flex justify-content-center align-items-center">
                <div class="fixed-top mt-4 text-center">
                    <span class="h1 text-white"><span class="color-verde">Max</span>bank</span>
                </div>
                <div class="d-flex align-items-center">
                    <h2 class="text-white">Loading</h2>
                    <img src="./assets/img/Pulse-1s-200px.svg" alt="">
                </div>
            </main>
        </template>
        <template v-else>
            <header>
                <nav class=".navbar-nav .navbar-nav-scroll navbar fixed-bottom d-lg-flex flex-lg-column justify-content-lg-start pt-lg-0">
                    <div class="btn-notifications">
                        <div class="btn-group dropstart d-lg-flex align-items-lg-center w-100 gap-3 position-relative" data-bs-toggle="dropdown" aria-expanded="false">
                            <div V-if="transactions.length != 0" class="position-absolute customBadge badge bg-danger text-white rounded-pill">
                                {{transactions.length}}
                            </div>
                            <i class="bi bi-bell fs-2 text-black"></i>
                            <ul class="dropdown-menu dropdown-menu-notify px-2">
                                <li v-for="transaction in transactions" class="justify-content-between w-100 my-3 border-pill p-1 notifactions-container d-flex notifactions position-relative">
                                    <div class="ms-1">
                                        <p class="mb-0">{{transaction.description}}</p>
                                        <span class="m-0">{{formatDate(transaction.date)}}</span>
                                    </div>
                                    <div class="me-2">
                                        <p class="">{{moneyFormat.format(transaction.amount)}}</p>
                                    </div>
                                    <a :href="'./account.html?id=' + transaction.accountId">
                                        <span class="link" ></span>
                                    </a>
                                </li>
                                <li v-if="transactions.length == 0" class="d-flex justify-content-center align-items-center flex-wrap">
                                    <h5 class="text-center w-100">No tienes nuevas notifiaciones</h5>
                                    <i class="bi bi-check-circle-fill fs-1 color-verde"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="nav-header text-white container-fluid d-none d-lg-flex bg-azul w-100">
                        <h1 class="text-center mt-2 d-lg-block d-none"> <a class="w-auto" href="./accounts.html" ><span class="color-verde h1">Max</span><span class="h1 text-white">bank</span></a></h1>
                        <div class="d-flex ms-2 align-items-center justify-content-start profile w-100 gap-3">
                            <div class="dropdown dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                <img v-if="client.profileImg != null" :src="client.profileImg" class="img-avatar" >
                                <i v-else class="bi bi-person-circle" data-bs-toggle="dropdown" aria-expanded="false"></i>
                                <ul class="dropdown-menu">
                                    <li><button class="dropdown-item" type="button"><i class="bi bi-gear-fill"></i> Configuracion</button></li>
                                    <li><button class="dropdown-item" @click="logout" type="button"><i class="bi bi-power text-danger"></i> Salir</button></li>
                                  </ul>
                            </div>
                            
                            <div class="greeting-name ms-1">
                                <p class="m-0 greeting">Buenas Tardes</p>
                                <p class="m-0 name">{{client.firstName}} {{client.lastName}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="link-sidebar d-lg-flex flex-lg-column justify-content-lg-between w-100">
                        <div class="container-fluid d-flex flex-lg-column justify-content-evenly w-100">
                            <a class="d-lg-flex align-items-lg-center gap-3" href="./accounts.html"><i class="bi bi-house-door fs-2 text-black"></i><span class="d-none d-lg-inline">Home</span></a>
                            <a class="d-lg-flex align-items-lg-center gap-3" href="./transfers.html"><i class="bi bi-arrow-left-right fs-2 text-black"></i><span class="d-none d-lg-inline">Transferencias</span></a>
                            <a class="d-lg-flex align-items-lg-center gap-3" href="./cards.html"><i class="bi bi-credit-card-2-back-fill fs-2 text-black"></i><span class="d-none d-lg-inline">Tarjetas</span></a>
                        </div>
                    </div>
                </nav>
            </header>
            <main class="d-flex flex-column mt-lg-2 gap-lg-2 align-items-lg-center">
                <div class="sticky-top bg-white mb-2 shadow">
                    <h1 class="text-center d-lg-none mt-2"><a href="./accounts.html" class="color-verde  text-decoration-none">Max</a><span class="color-azul">bank</span></h1>
                    <div class="w-100 d-flex justify-content-center d-lg-none my-3">
                        <div class="d-lg-none d-flex align-items-center justify-content-between profile">
                            <div class="d-flex align-items-center justify-content-start ">
                                <div class="dropdown">
                                    <img v-if="client.profileImg != null" :src="client.profileImg" class="img-avatar" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i v-else class="bi bi-person-circle fs-1" data-bs-toggle="dropdown" aria-expanded="false"></i>
                                    <ul class="dropdown-menu">
                                        <li><button class="dropdown-item" type="button"><i class="bi bi-gear-fill"></i> Configuracion</button></li>
                                        <li><button class="dropdown-item" @click="logout" type="button"><i class="bi bi-power text-danger"></i> Salir</button></li>
                                        </ul>
                                    </div>
                                <div class="greeting ms-1">
                                    <p class="m-0">¡Hola</p>
                                    <p class="m-0">{{client.firstName}} {{client.lastName}}!</p>
                                </div>
                            </div>
                            <div class="bg-azul p-2 rounded-pill">
                                <a class="text-white text-decoration-none" href="./cards.html">Mis tarjetas</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-100 d-flex justify-content-between flex-wrap gap-2 gap-lg-0">
                    <div class="w-100 d-flex justify-content-center align-items-center flex-wrap principal-container">
                        <div class="balance-container">
                            <div class="d-flex align-items-center justify-content-center pt-1 balance-header">
                                <span class="text-white">Saldo Disponible</span>
                                <i class="bi bi-eye-fill text-white ms-3" role="button" id="eye" @click="hideBalance($event)"></i>
                                <i class="bi bi-eye-slash-fill text-white ms-3 d-none" id="slash-eye" role="button" @click="hideBalance($event)"></i>
                            </div>
                            <div class="d-flex flex-column balance-body">
                                <div class="text-white d-flex position-relative justify-content-between align-items-center account-balance">
                                    <div class="position-relative">
                                        <p v-if="account.accountType == 'SAVINGS'" class="m-0 text-center fw-bold">Caja de ahorros N°</p>
                                        <p v-else class="m-0 text-center fw-bold">Cuenta corriente N°</p>
                                        <p class="text-center">{{account.number}} 
                                            <span @click="copy(account.number)"><i class="bi fs-6 ms-3" :class="copyNumber ? 'bi-clipboard-check':'bi-clipboard'" ></i></span>
                                        </p>
                                    </div>
                                    <h6><span class="number">{{moneyFormat.format(account.balance)}}</span></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-100 d-flex justify-content-center align-items-center align-items-lg-start flex-wrap principal-container">
                        <div class="balance-container">
                            <div class="d-flex align-items-center justify-content-center pt-1  balance-header">
                                <span class="text-white">Prestamos</span>
                            </div>
                            <div  v-if="loans.length" class="d-flex flex-column justify-content-center balance-body">
                                <div class="text-white d-flex justify-content-between align-items-center total-balance">
                                    <p class=" fw-bold ">Deuda Total</p>
                                    <p class=" number">{{moneyFormat.format(totalLoan)}}</p>
                                </div>
                            </div>
                            <div v-else class="d-flex flex-column justify-content-center balance-body">
                                <div class="d-flex justify-content-between align-items-center total-balance">
                                    <p class="text-white">No posees ningun prestamo.</p>
                                </div>
                            </div>
                        </div>
                        <div class="d-lg-none transactions mt-3 d-flex flex-column justify-content-between align-items-center">
                            <div v-for="transaction in transactions" class="justify-content-between w-100 my-2 d-flex">
                                <div>
                                    <p class="mb-0">{{transaction.description}}</p>
                                    <span class="m-0">{{formatDate(transaction.date)}}</span>
                                </div>
                                <div>
                                    <p :class="(transaction.type == 'CREDIT' ? 'color-verde' : 'text-danger') + ' number'">{{transaction.type == 'CREDIT' ? "" : "-"}}{{moneyFormat.format(transaction.amount)}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-wrap w-100 justify-content-center">
                    <table id="moves" class="d-none d-lg-table table table-hover">
                        <thead>
                            <tr>
                                <th>Descripcion</th>
                                <th>Fecha</th>
                                <th>Monto</th>
                            </tr>
                        </thead>
                        <tbody class="">
                            <tr v-for="transaction in transactions">
                                <td>{{transaction.description}}</td>
                                <td>{{formatDate(transaction.date)}}</td>
                                <td :class="(transaction.type == 'CREDIT' ? 'color-verde' : 'text-danger') + ' number'">{{transaction.type == 'CREDIT' ? "" : "-"}}{{moneyFormat.format(transaction.amount)}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="w-75">
                        <button class="btn btn-verde align-self-start justify-self-start" data-bs-toggle="modal" data-bs-target="#filterModal">Descargar resumen</button>
                        <button class="btn btn-danger align-self-start justify-self-start ms-3" data-bs-toggle="modal" data-bs-target="#deleteModal">Eliminar cuenta</button>

                    </div>
                </div>

                    <!-- MODALS -->
                    <!-- Filter Modal -->
                    <div class="modal" id="filterModal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Filtrar</h5>
                                </div>
                                <div class="modal-body d-flex gap-2">
                                    <div class="w-50">
                                        <label for="startDate">Desde</label>
                                        <input class="form-control" v-model="startDate" type="date" name="" id="startDate">
                                    </div>
                                    <div class="w-50">
                                        <label for="endDate">Hasta</label>
                                        <input class="form-control" v-model="endDate" type="date" name="" id="endDate">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-verde"><a target="_blank" :href="'/api/transactions/download?accountNumber=' + account.number + '&start=' + startDate+'T00:00:00' + '&end=' + endDate+'T23:59:59'">Descargar</a></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Delete Modal -->
                    <div class="modal" id="deleteModal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header bg-warning">
                                    <h5 class="modal-title text-white text-center w-100 fs-10"><i class="bi bi-exclamation-triangle"></i></h5>
                                  </div>
                                <div class="my-2 alert text-center alert-warning">
                                    <div>
                                        <p>Esta seguro que desea eliminar la cuenta?</p>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                    <button @click="disableAccount" class="btn btn-danger">Confirmar</button>
                                </div>
                            </div>
                        </div>
                    </div>
            </main>
        </template>
    </div>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.debug.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.3.4/jspdf.plugin.autotable.min.js"></script>></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="./assets/scripts/account.js"></script>
</body>
</html>