<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuenta</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/styles/styles.css">

</head>
<body>
    <div class="d-lg-flex" id="app">

        <template v-if="isLoaded == false">
            <main class="bg-azul w-100 h-100">
                <h1>Load {{isLoaded}}</h1>
            </main>
        </template>
        <template v-else>
            <header>
                <nav class=".navbar-nav .navbar-nav-scroll navbar fixed-bottom d-lg-flex flex-lg-column justify-content-lg-start pt-lg-0">
                    <div class="nav-header text-white container-fluid d-none d-lg-flex bg-azul w-100">
                        <h1 class="text-center mt-2 d-lg-block d-none"><span class="color-verde">Max</span><span class="">bank</span></h1>
                        <div class="d-flex ms-2 align-items-center justify-content-start profile w-100 gap-3">
                            <i class="bi bi-person-circle"></i>
                            <div class="greeting-name ms-1">
                                <p class="m-0 greeting">Buenas Tardes</p>
                                <p class="m-0 name">{{client.firstName}} {{client.lastName}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="link-sidebar d-lg-flex flex-lg-column justify-content-lg-between w-100">
                        <div class="container-fluid d-flex flex-lg-column justify-content-evenly w-100">
                            <a class="d-lg-flex align-items-lg-center active gap-3" :href="'./accounts.html?id=' + client.id"><i class="bi bi-house-door fs-1"></i><span class="d-none d-lg-inline">Home</span></a>
                            <a class="d-lg-flex align-items-lg-center active gap-3" href="#"><i class="bi bi-bell fs-1 text-black"></i><span class="d-none d-lg-inline">Notificaciones</span></a>
                            <a class="d-lg-flex align-items-lg-center active gap-3" href="#"><i class="bi bi-arrow-left-right fs-1 text-black"></i><span class="d-none d-lg-inline">Transferencias</span></a>
                            <a class="d-lg-flex align-items-lg-center active gap-3" href="#"><i class="bi bi-credit-card-2-back-fill fs-1 text-black"></i><span class="d-none d-lg-inline">Tarjetas</span></a>
                        </div>
                        <div class="w-100 d-none d-lg-flex justify-content-center align-items-center">
                            <div class="bg-verde btn btn-success ps-3 pe-3  rounded-pill">
                                <p class=" text-center add-account m-0 text-white">Añadir Cuenta</p>
                            </div>
                        </div>
                    </div>
                </nav>
            </header>
            <main class="d-flex flex-column mt-lg-2 gap-lg-2 align-items-lg-center">
                <div class="sticky-top bg-white mb-2 shadow">
                    <h1 class="text-center d-lg-none mt-2"><span class="color-verde">Max</span><span class="">bank</span></h1>
                    <div class="w-100 d-flex justify-content-center d-lg-none my-3">
                        <div class="d-lg-none d-flex align-items-center justify-content-between profile">
                            <div class="d-flex align-items-center justify-content-start ">
                                <i class="bi bi-person-circle fs-1"></i>
                                <div class="greeting ms-1">
                                    <p class="m-0">¡Hola</p>
                                    <p class="m-0">{{client.firstName}} {{client.lastName}}!</p>
                                </div>
                            </div>
                            <div class="bg-azul p-2 rounded-pill">
                                <a class="text-white text-decoration-none" href="">Mis tarjetas</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-100 d-flex justify-content-between flex-wrap gap-2 gap-lg-0">
                    <div class="w-100 d-flex justify-content-center align-items-center flex-wrap principal-container">
                        <div class="balance-container">
                            <div class="d-flex align-items-center justify-content-center pt-1 balance-header">
                                <span class="text-white">Saldo Disonible</span>
                                <i class="bi bi-eye-fill text-white ms-3" role="button" id="eye" @click="hideBalance($event)"></i>
                                <i class="bi bi-eye-slash-fill text-white ms-3 d-none" id="slash-eye" role="button" @click="hideBalance($event)"></i>
                                
                            </div>
                            <div class="d-flex flex-column balance-body">
                                <div class="text-white d-flex position-relative justify-content-between align-items-center account-balance">
                                    <div class="position-relative">
                                        <p class="m-0 text-center fw-bold">Cuenta N°</p>
                                        <p class="text-center">{{account.number}}</p>
                                    </div>
                                    <h6><span class="number">{{moneyFormat.format(account.balance)}}</span></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-100 d-flex justify-content-center align-items-center align-items-lg-start flex-wrap principal-container">
                        <div class="balance-container">
                            <div class="d-flex align-items-center justify-content-center pt-1  balance-header">
                                <span class="text-white">Prestamos Disponibles</span>
                            </div>
                            <div class="d-flex flex-column justify-content-center balance-body">
                                <div class="d-flex justify-content-between align-items-center total-balance">
                                    <p class="text-white fw-bold ">Hipotecario</p>
                                    <p class="text-white">Hasta {{moneyFormat.format("500000")}}</p>
                                </div>
                            </div>
                            <div class="balance-footer d-lg-none">
                                <p class="text-center m-0 text-white">Ultimos Movimientos</p>
                            </div>
                        </div>
                        <div class="d-lg-none transactions mt-3 d-flex flex-column justify-content-between align-items-center">
                            <div v-for="transaction in transactions" class="justify-content-between w-100 my-2 d-flex">
                                <div>
                                    <p class="mb-0">{{transaction.description}}</p>
                                    <span class="m-0">{{formatDate(transaction.date)}}</span>
                                </div>
                                <div>
                                    <p :class="(transaction.type == 'CREDIT' ? 'color-verde' : 'text-danger') + ' number'">{{transaction.type == 'CREDIT' ? "" : "-"}}{{moneyFormat.format(transaction.amount)}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="d-none d-lg-table table table-hover">
                    <thead>
                        <tr>
                            <th>Descripcion</th>
                            <th>Fecha</th>
                            <th>Monto</th>
                        </tr>
                    </thead>
                    <tbody class="">
                        <tr v-for="transaction in transactions">
                            <td>{{transaction.description}}</td>
                            <td>{{formatDate(transaction.date)}}</td>
                            <td :class="(transaction.type == 'CREDIT' ? 'color-verde' : 'text-danger') + ' number'">{{transaction.type == 'CREDIT' ? "" : "-"}}{{moneyFormat.format(transaction.amount)}}</td>
                        </tr>
                    </tbody>
                </table>
            </main>
        </template>
    </div>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="./assets/scripts/account.js"></script>
</body>
</html>