<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <header class="d-none">
        <div class="container">
            <nav></nav>
        </div>
    </header>
    <main>
        <div id="app" class="container d-flex flex-column gap-md-2 flex-md-row flex-wrap justify-content-md-center">
            <h1 class="text-center w-100 m-md-4">Clientes</h1>
            <div class="form-container w-100 mb-3">
                <form @submit.prevent="addClient" action="" class="w-100">
                    <fieldset>
                        <h3>Agregar Clientes</h3>
                        <div class="mb-3">
                            <label class="form-label" for="firstName">Nombre: </label>
                            <input class="form-control"  required type="text" v-model="firstName" id="firstName">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="lastName">Apellido: </label>
                            <input class="form-control" required type="text" v-model="lastName" id="lastName">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="email">Email: </label>
                            <input class="form-control" required  type="email" v-model="email" id="email">
                        </div>
                        <input class="btn btn-primary" type="submit" value="Agregar">
                    </fieldset>

                </form>
            </div>
            <div class="table-container w-100">
                <h3>Lista de clientes</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col"> Apellido</th>
                            <th scope="col">Email</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <template v-for="client in clients">
                            <tr class="">
                                <td class=""><a :href="'/web/accounts.html?id=' + client.id">{{client.firstName}}</a></td>
                                <td>{{client.lastName}}</td>
                                <td>{{client.email}}</td>
                                <td class="d-flex justify-content-evenly">
                                    <i @click="activateForm(client)" class="bi bi-pencil-fill me-2"></i>
                                    <i @click="deleteClient($event, client)" class="bi bi-x-lg"></i>
                                </td>
                            </tr>
                            <tr class="d-none w-100" :id="'form' + client.id">
                                <td colspan="4">
                                    <form @submit.prevent="updateClient(client)">
                                        <input :id="'name' + client.id" type="text" v-model="editName" class="form-control">
                                        <label :for="'name' + client.id">Name</label>
                                        <input type="text" :id="'last' + client.id" v-model="editLast" class="form-control" >
                                        <label :for="'last' + client.id">Last Name</label>
                                        <input type="email" :id="'email' + client.id"  v-model="editEmail" class="form-control" >
                                        <label :for="'email' + client.id">Email</label>
                                        <button class="btn text-center bg-verde mx-1" type="submit"><i class="bi bi-save2 text-white"></i></button>
                                        <div class="btn btn-danger" @click="activateForm(client)"><i class="bi bi-x-lg"></i></div>
                                    </form>
                                </td>
                            </tr>
                        </template>
                </tbody>
                </table>
            </div>
            <div class="w-100">
                <h3 class="m-3">REST Response</h3>
                <pre class="w-100">{{clients}}</pre>
            </div>
        </div>
    </main>
    <footer></footer>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="./manager.js"></script>
</body>
</html>